<%= render 'layouts/navbar' %>
<script type="text/javascript">
$(".navbar-text").html("<i>Current class:</i> ( <%= @classroom.num %>-<%= @classroom.name %> )")
</script>
<div class="container">
	<p id="notice"><%= notice %></p>



		<div class="row row-fluid clearfix">
			<div class="col-md-2 course-sidebar-box hide-on-tablets">
				<h6>Dash Board</h6>
				<div class="course-sidebar">
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' role="active" target="intro">Introduction</label>
					</div>

					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width'>Process Schedule</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width'>Announcement</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width'>Dropbox</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width'>Class member</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width'>Forum</label>
					</div>
				</div>
			</div>
			
			<div class="tile bg-clear col-md-10" role="main">
				<div class="course-main-pane">
					<%= render "classrooms/shared/coursecontent" %>
				</div>
			</div>
		</div>
</div>



<script type="text/javascript">
	$("label.btn-sidebar").click(function(){
		target = $(this).attr('target');
		isActiveBtn = $(this).attr('role')=="active";
		if(!isActiveBtn){
			$("label.btn-sidebar[role='active']").attr('role','inactive');
			$(this).attr('role', "active");
			$(".course-main-pane").fadeTo(200, 0.3)
			$(".course-main-pane").fadeTo(200, 1)
		}
	})
</script>