<%= render 'layouts/navbar' %>
<script type="text/javascript">
$(".navbar-text").html("<i>Current class:</i> ( <%= @classroom.num %>-<%= @classroom.name %> )")
</script>
<div class="container">
		<div class="row row-fluid clearfix">
			<div class="col-md-2 course-sidebar-box hide-on-tablets">
				<h6>Dash Board</h6>
				<div class="course-sidebar">
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="intro" role="active">
							Introduction
						</label>
					</div>

					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="process">Process Schedule</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="announce">Announcement</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="storage">Dropbox</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="member">Class member</label>
					</div>
					<div class="full-width">
						<label href="#fui-button" class='btn-sidebar full-width' target="forum">Forum</label>
					</div>
				</div>
			</div>
			
			<div class="tile bg-clear col-md-10" role="main">
				<div class="course-main-pane" id="course-main-pane">
					<%= render "classrooms/shared/coursecontent" %>
				</div>
			</div>
		</div>
</div>

<%= link_to 'ajax show', classroom_path(target: 'undefined'), :remote => true, :method => 'GET', "data-type" => :json, :id => "update_foobar", class: "hidden" %>
	<script type="text/javascript">
	$(function() {
		$('#update_foobar').bind("ajax:success", function(event, data, status, x) {
		    var foobar = $('#course-main-pane');
	        foobar.html( data.to_s );
	        $(".course-main-pane").fadeTo(500, 1)
	    });
	});
	</script>




<script type="text/javascript">
	var getMainPaneContent = function(target){
		if(typeof(Storage)!=="undefined"){
			// user session storage
			
		}
		else{
			
		}
		$("#update_foobar").click();
  	}
	$("label.btn-sidebar").click(function(){
		target = $(this).attr('target');
		isActiveBtn = $(this).attr('role')=="active";
		if(!isActiveBtn){
			url = '<%= classroom_path %>?target='+target
			$("#update_foobar").attr('href', url);
			$("label.btn-sidebar[role='active']").attr('role','inactive');
			$(this).attr('role', "active");
			$(".course-main-pane").fadeTo(500, 0.3, function(){
				//getMainPaneContent(target);
				$.getJSON(url, {},function(data, status){
					var foobar = $('#course-main-pane');
			        foobar.html( data.to_s );
			        $(".course-main-pane").fadeTo(500, 1)
				})
			})
		}
	})
</script>