<%= render 'layouts/navbar' %> 
<%= devise_error_messages! %>
  <div class="container" role="main">
    <div class="hero-unit bg-clear top-pd-0">
      <h1 class="page-header">Account details</h1>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="align-left">
        <div class="input">
          <label class="input-q-f1">Email Address:</label>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, value: current_user.email, class: "form-control flat", disabled: true %>
            <label class="input-group-addon btn btn-info">Change it</label>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="input">
          <label class="input-q-f1">Password:</label>
          <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter Your Original Password", class: "form-control flat" %>
            <label class="input-group-addon btn btn-info">Change it</label>
          </div>
          <label class="input-q-f1"></label>
        </div>
        
        <div class="input hidden">
          <label class="input-q-f1">Change Your Password:</label>

          <div class="input input-q-p2-left">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Your new Password", class: "form-control flat" %>
          </div>
          <div class="input input-q-p2-right">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control flat" %>
            
          </div>
          
        </div>
        
        <div class="input">
          <label class="input-q-f1">Nickname:</label>
          <div class="input-group">
            <input id="inputName" type="text" value="Dipterix" class="form-control flat" disabled /> 
            <label class="input-group-addon">Change it</label>
          </div>
        </div>
        
        <div class="input">
          <label class="input-q-f1">Real Name:</label>
          <div class="input-group">
            <input id="inputRealName" type="text" value="Dipterix Wang" class="form-control flat" /> 
            <label class="input-group-addon invisible">Change it</label>
          </div>
        </div>
        
        <div class="input">
          <label class="input-q-f1">School/Association:</label>
          <div class="input-group">
            <input id="inputRealName" type="text" value="University of Science and Technology of China" class="form-control flat" /> 
            <label class="input-group-addon invisible">Change it</label>
          </div>
        </div>            
            
        <%= f.submit "Confirm Changes", class: "btn btn-primary top-mg-10" %>
      </div>
      
      <% end %>

      <h1 class="page-header">Class Details</h1>
      <div class="align-left">
        <div class="course-list-box">
          <span class="course-list-title">
            Machine Learning
          </span>
          <p>
            University of Science and Technology of China
            <address>By: Genevera Allen</address>
          </p>
          <div class="full-width" role="set-min-height">
            <a class="btn btn-info float-right">View Details</a>
          </div>
        </div>
        
        <div class="course-list-box">
          <span class="course-list-title">
            Machine Learning
          </span>
          <p>
            University of Science and Technology of China
            <address>By: Genevera Allen</address>
          </p>
          <div class="full-width" role="set-min-height">
            <a class="btn btn-info float-right">View Details</a>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary top-mg-10">Open a New Course</button>
      </div>
      
    </div>
    </div>
    <!-- /.container -->

