<%= render 'layouts/navbar' %> 
<%= devise_error_messages! %>
  <div class="container" role="main">
    <div class="hero-unit bg-clear top-pd-0">
      <h1 class="page-header">Account details</h1>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="align-left">
        <div class="input">
          <label class="input-q-f1">Email Address:</label>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, value: current_user.email, class: "form-control flat", disabled: true %>
            <label class="input-group-addon btn btn-info">Change it</label>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="input">
          <label class="input-q-f1">Password:</label>
          <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter Your Original Password", class: "form-control flat" %>
            <label class="input-group-addon btn btn-info">Change it</label>
          </div>
          <label class="input-q-f1"></label>
        </div>
        
        <div class="input hidden">
          <label class="input-q-f1">Change Your Password:</label>

          <div class="input input-q-p2-left">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Your new Password", class: "form-control flat" %>
          </div>
          <div class="input input-q-p2-right">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control flat" %>
            
          </div>
          
        </div>
        
        <div class="input">
          <label class="input-q-f1">Nickname:</label>
          <div class="input-group">
            <%= f.text_field :nickname, autocomplete: "on", placeholder: "Enter Your Nickname. It will be shown to the others", value: current_user.nickname, class: "form-control flat" %>
            <label class="input-group-addon">Change it</label>
          </div>
        </div>
        
        <div class="input">
          <label class="input-q-f1">Real Name:</label>
          <div class="input-group">
            <%= f.text_field :realname, autocomplete: "on", placeholder: "Your Real Name, will only be displayed within your class.", value: current_user.realname, class: "form-control flat" %>
            <label class="input-group-addon invisible">Change it</label>
          </div>
        </div>
        
        <div class="input">
          <label class="input-q-f1">School/Institution:</label>
          <div class="input-group">
            <%= f.text_field :institution, autocomplete: "on", placeholder: "Your School", value: current_user.institution, class: "form-control flat" %>
            <label class="input-group-addon invisible">Change it</label>
          </div>
        </div> 

        <div class="input">
          <label class="input-q-f1">Department:</label>
          <div class="input-group">
            <%= f.text_field :dept, autocomplete: "on", placeholder: "If you are a teacher, please enter your Department", value: current_user.dept, class: "form-control flat" %>
            <label class="input-group-addon invisible">Change it</label>
          </div>
        </div>      

        <div class="input">      
          <label class="input-q-f1">Teacher Status:</label>
          <%= f.check_box :status, 'data-toggle' => "switch", checked: current_user.status %>
        </div>
            
        <%= f.submit "Confirm Changes", class: "btn btn-primary top-mg-10" %>
      </div>
      
      <% end %>



      <h1 class="page-header">Class Details</h1>
      <div class="align-left">
        <% @current_user.classrooms.each do |classroom| %>
          <div class="course-list-box">
            <span class="course-list-title">
              <%= classroom.num %>: <%= classroom.name %>
            </span>
            <p>
              <%= classroom.user.institution %>
              <address>By: <%= classroom.user.nickname %></address>
            </p>
            <div class="full-width" role="set-min-height">
              <span class="float-right" style="font-weight:normal">
                <%= link_to 'Edit', edit_classroom_path(classroom) %> |
                <%= link_to 'View Details', classroom %> |
                <%= link_to 'Dismiss', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          </div>
          
        <% end %>
        
        <%= link_to 'Open a New Classroom', new_classroom_path, class: "btn btn-primary top-mg-10" %>
        
      </div>
      
    </div>
    </div>
    <!-- /.container -->


