<%= form_for(@classenroll) do |f| %>
  <% if @classenroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classenroll.errors.count, "error") %> prohibited this classenroll from being saved:</h2>

      <ul>
      <% @classenroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :classroom_id %>
    <%= f.number_field :classroom_id %>
  </div>
  <div class="field">
    <%= f.label :ista %>
    <%= f.check_box :ista %>
  </div>
  <div class="form-group">
      <%= f.label :ispassed %>
      <%= f.check_box :ispassed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

