<%= render 'layouts/navbar' %>
<div class="container">
	<div class="hero-unit" role="main" >
		<h6>Edit Enrollment</h6>
		<p class="separator"><%= @classenroll.classroom.num %> <%= @classenroll.user.realname %></p>


<%= render 'form' %>

<%= link_to 'Show', @classenroll %> |
<%= link_to 'Back', classenrolls_path %>
	</div>
</div>