<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">
    <div class="field">
      <h6>Course Number</h6>
      <%= f.text_field :num, autofocus: true, class: "form-control flat", required: true, placeholder: "E.g. MATH 101" %>
    </div>
    <div class="field">
      <h6>Course Name</h6>
      <%= f.text_field :name, class: "form-control flat", required: true, placeholder: "E.g. Univariate Calculus" %>
    </div>
    <div class="field">
      <h6>Enroll condition</h6>
      <%= f.text_field :condition, class: "form-control flat", for: "condition-explain", required: false, placeholder: "E.g. @163.com Means Anyone@163.com" %>
      <ul id = 'condition-explain' style="font-size:12px; line-height: 1.3">
          <li> @a.com Means Anyone@a.com... </li>
          <li> If you want your course be accessed by all, type "@"</li>
          <li> If you want enroll students on your own, type "@@"</li>
      </ul>
      <script type="text/javascript">
        $("#condition-explain").hide()
        $("[for = 'condition-explain']").hover(
          function(){
            $("#condition-explain").stop(true)
            $("#condition-explain").fadeIn()
          },function(){
            $("#condition-explain").stop(true)
            $("#condition-explain").fadeOut()
          })
      </script>
    </div>
    
  </div>

  <div class="col-md-9">
    <div class="form-group">
        <h6>Introduction</h6>
        <%= f.text_area :intro, autofocus: true, class: "form-control course-intro-textarea", placeholder: "Please fill in this part, which will be displayed on course index...\b\n E.g. Your Course Info\n Your and your TA's contacts" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Confirm Changes", class: "btn btn-primary float-right" %>
  </div>
<% end %>
