<h1>Listing classannounces</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Classroom</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classannounces.each do |classannounce| %>
      <tr>
        <td><%= classannounce.user_id %></td>
        <td><%= classannounce.classroom_id %></td>
        <td><%= classannounce.content %></td>
        <td><%= link_to 'Show', classannounce %></td>
        <td><%= link_to 'Edit', edit_classannounce_path(classannounce) %></td>
        <td><%= link_to 'Destroy', classannounce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classannounce', new_classannounce_path %>
