<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Diparzza</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
   
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->

  <%= csrf_meta_tags %>
  </head>
<body role="body">

<!-- System information -->

<div class="notification-pane">
  <% flash.each do |name, msg| %>
    <div class="alert alert-info alert-sys", data-dismiss="alert"><%= msg %> <i>(Click to dismiss)</i>
    </div>
  <% end %>
  
</div>

<%= yield %>



<!-- Load JS here for greater good =============================-->
<script type="text/javascript">
  !window.jQuery && document.write('<http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"><\/script>');
</script>

<!--script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/jquery.tagsinput.js"></script>
<script src="/assets/jquery.placeholder.js"></script> 

<!--script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script--
<script data-turbolinks-track="true" src="/assets/pages.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/respond.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/typeahead.js?body=1"></script>


    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/bootstrap-select.js"></script>
    <script src="/assets/bootstrap-switch.js"></script>
    <script src="/assets/flatui-checkbox.js"></script>
    <script src="/assets/flatui-radio.js"></script>
    



<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script-->

<script type="text/javascript">
$(document).ready(function(){
  $(".dropdown-btn-navbar").hover(function(){
    id = '#'+$(this).attr("target");
    showpane = $("#dropdown-btn-showpane");
    showpane.stop(stopAll=true,goToEnd=true);
    showpane.hide();
    showpane.html($(id).text().replace(/\n/g,'<br />'));

    
    if(parseInt(showpane.css("height"))<260){
      showpane.css('min-height' , '260px');
    }
    showpane.fadeIn();

  },function(){}
  );
})
</script>
  

<div class="hidden"><%= controller_name %></div>
</body>
</html>
 

